venv
**/share/models/*
**/share/metrics/*
/iot_services/QrDetector/share/metrics/metrics.csv
/iot_services/CvAnalyzer/share/metrics/metrics.csv
**/models/*.onnx
**/models/*.pt
**/models/*.torchscript
