global:
  scrape_interval: 400ms


scrape_configs:

  - job_name: 'iot_service' # this is a parameter here
    static_configs:
      - targets: [ '127.0.0.1:8000','host.docker.internal:8000','172.19.0.1:8000','localhost:8000',
                   '172.19.0.5:8000', '172.19.0.6:8000', '172.19.0.7:8000','172.19.0.8:8000','172.19.0.9:8000',
                   '172.19.0.10:8000', '172.19.0.11:8000', '172.19.0.12:8000', '172.19.0.13:8000', '172.19.0.14:8000' ] # host.docker.internal is for windows!
