pandas~=2.2.3
requests~=2.32.3
Flask~=3.0.3
pyzbar~=0.1.9
numpy~=1.26.4
opencv-python~=4.10.0.82
prometheus-client~=0.16.0
docker~=7.1.0
prometheus-api-client~=0.5.5

tensorflow[and-gpu]~=2.18.0
matplotlib~=3.9.2
keras~=3.6.0
scikit-learn~=1.5.2


mujoco~=3.2.5
torchrl~=0.6.0
gym~=0.26.2
tqdm~=4.67.0